<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="46051stankovski.QuranWindows" Publisher="CN=675A1B8C-7D1E-4AAC-8DE2-5BD7D61BFEA3" Version="1.2.1.0" />
  <mp:PhoneIdentity PhoneProductId="5ec223b9-5fd5-4028-85ed-f233a8af0943" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Quran Windows</DisplayName>
    <PublisherDisplayName>stankovski</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
    <Resource Language="ar" />
    <Resource Language="id" />
    <Resource Language="ru" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quran.Windows.App">
      <uap:VisualElements DisplayName="Quran Windows" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Square44.png" Description="Quran app for Windows" BackgroundColor="#FFFFFF">
        <uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square310x310Logo="Assets\Square310.png" Square71x71Logo="Assets\SquareTile71x71.png" ShortName="Quran">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Quran.Windows.Audio.QuranBackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>