<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.HotTuna.Plugin.Sqlite" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="MvvmCross.PortableSupport" version="3.0.13" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl40+wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="portable-net45+wp80+win" />
</packages>